.contenedor-mensaje {
    background-color: #2e8b57;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.cabecera h1 {
    font-size: 24px;
    color: #fff;
}
.cuerpo p {
    font-size: 18px;
    color: #333;
}
.cuerpo button {
    margin-top: 20px;
}
.btn-solicitud{
background-color: #333;
border-radius: 1px;
}
.btn-solicitud:hover{
    background-color: aliceblue;
}