.contenedor {
    border-radius: 10px;
}

.agregar {
    background-color: #2e8b57;
    border-radius: 7px;
    margin-bottom: 10px;
    border: #29764a;
}

.agregar:hover {
    background-color: #29764a;
}

.date-filter {
    margin-bottom: 10px;
}

.btn-filtro {
    border-radius: 5px;
    margin-left: 3px;
    border: 1px solid #ced4da;
    height: 31px;
    background-color: white;
}

.date-filter {
    display: none;
    text-align: center;
}

.date-filter input {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ced4da;
}

.contenedor-principal {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.filtros-select {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
    margin: 20px 0;
}

/* Barra de navegación */
.navbar {
    background-color: #07856D;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Alinea el contenido a los extremos */
    align-items: center;
    position: relative;
}

.navbar .nav-left {
    display: flex;
    align-items: center;
}

.nav-left a{
    color: white;
    text-decoration: none;
}

.navbar .user {
    position: relative;
    cursor: pointer;
}

.navbar .user .dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.navbar .user:hover .dropdown {
    display: block;
}

.navbar .user .dropdown a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
}

.navbar .user .dropdown a:hover {
    background-color: #f1f1f1;
}